<!DOCTYPE html>
<html ng-app="chemo">
<head>
	<title>Chemeleon Game</title>
	<script type="text/javascript" src="chemo.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="ngchem.js"></script>
	
	<link rel="icon" type="image/png" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="glam.css">
</head>
<body ng-controller="chemoControl">
		<img src="/images/ch_s.png"/>
		<div class="header">CHAMELEON</div>
<div class="everything">
	<div class="gameon" ng-show="game">
		<h1> Moves left: {{move}}</h1>
		 <div ng-repeat="row in array" class="rows">
		 	<div ng-repeat="val in row" class="cols">
		 		<div class="box" ng-style="pixel(val);">
		 		</div>
		 	</div>
		 </div>

		<div class="paintboxes">
		 <div ng-repeat="paint in paints" class="paintbox" ng-click="clicked(paint.val)" ng-style="painter(paint);">
		 </div>
		</div>
	</div>
	<div class="win" ng-show="win">
		CONGRATS
	</div>
	<div class="gameoff" ng-show="lose">
		GAME OVER
	</div>
</div>
</body>
</html>