<!DOCTYPE html>
<html ng-app="chemo">
<head>
	<title>Chemeleon Game</title>
	<script type="text/javascript" src="chemo.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="ngchem.js"></script>
	
	<link rel="icon" type="image/png" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="glam.css">
</head>
<body ng-controller="chemoControl">
		<div class="header">CHAMELEON</div>
		<img src="/images/ch_s.png" width="70px" ng-repeat="life in lives"/>
<div class="everything">
	<div class="gameon" ng-show="game">
		<span>Level {{level}}</span>
		<br>
		<span>Score {{score}}</span>
		<br>
		<span>Moves {{move}}</span>
		<br>
		 <div ng-repeat="row in array" class="rows">
		 	<div ng-repeat="val in row" class="cols">
		 		<div class="box" ng-style="pixel(val);">
		 		</div>
		 	</div>
		 </div>

		<div class="paintboxes">
		 <div ng-repeat="paint in paints" class="paintbox" ng-click="clicked(paint.val)" ng-style="painter(paint);">
		 </div>
		</div>
	</div>
	<div class="win" ng-show="win">
	<br><br>
		CONGRATS<br>
		<a href="Arcade.html">PLAY AGAIN</a>
	</div>
	<div class="gameoff" ng-show="lose">
	<br><br>
		GAME OVER<br>
		<a href="Arcade.html">PLAY AGAIN</a>
	</div>
</div>
</body>
</html>