body{
	background-color: white;
}
div.rows{
	display: block;
	float: left;
}
div.box{
	width: 30px;
	height: 30px;
}
div.paintboxes{
	display: block;
	clear: both;
}
div.paintbox{
	width: 90px;
	height: 80px;
	float: left;
}