body{
	background-color: white;
	font-family: 'Press Start 2P', cursive;
}
div.everything{
}
div.rows{
	display: block;
	float: left;
}
div.box{
	width: 30px;
	height: 30px;
}
div.paintboxes{
	display: block;
	clear: both;
	border:none;
}
div.paintbox{
	width: 90px;
	height: 80px;
	float: left;
}
div.gameoff{
	font-size: 150pt;
}
div.win{
	font-size: 80pt;
}