body{
	background-color: white;
	font-family: 'Press Start 2P', cursive;
}
div.everything{
}
div.rows{
	display: block;
	float: left;
}
div.paintboxes{
	display: block;
	clear: both;
	border:none;
}
div.gameoff{
	font-size: 150pt;
}
div.win{
	font-size: 80pt;
}